<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
            <h4 class="modal-title">차량등록</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
            <table>
                <tr>
                    <td>Carname</td>
                    <td><input type="text" id="carname" /></td>
                </tr>
                <tr>
                    <td>Container</td>
                    <td><input type="text" id="container" /></td>
                </tr>
                <tr>
                    <td>Speed</td>
                    <td><input type="text" id="speed" /></td>
                </tr>
                <tr>
                    <td>Battery</td>
                    <td><input type="text" id="battery" /></td>
                </tr>
                <tr>
                    <td>Communication</td>
                    <td><input type="text" id="communication" /></td>
                </tr>
                <tr>
                    <td>Drivingmode</td>
                    <td><input type="text" id="drivingmode" /></td>
                </tr>
            </table>
            
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
            <input type="button" class="btn btn-danger" value="저장 후 닫기" onclick="input()" data-dismiss="modal"/>
        </div>

        </div>
    </div>
</div>
