<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
            <h4 class="modal-title">차량등록</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
            <table>
                <tr>
                    <td>Car-name</td>
                    <td><input type="text" id="carname" /></td>
                </tr>
                <tr>
                    <td>Pi-id</td>
                    <td><input type="text" id="pi_id" /></td>
                </tr>
            </table>
            
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
            <input type="button" class="btn btn-danger" value="저장 후 닫기" onclick="pi_check()" data-dismiss="modal"/>
        </div>

        </div>
    </div>
</div>
