{% extends './common/base.html' %}
{% load staticfiles %}

{% block head %}

{% endblock %}

{% block contents %}
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/car_input.js' %}"></script>

{% if user.is_authenticated %}
    {% else %}
        <script>
        window.location.href =  "{% url 'auth' %}";
        </script>
{% endif %}

{% if request.user.is_staff %}
관리자모드
{% endif %}
<!-------------------------------------------------------->
<a href="/main">메인으로가기</a><br>
<input type="button" value="차량추가" onclick="car_input()" /><br>
Carnumber:<input type="text" id="carnumber" /><br>
Container:<input type="text" id="container" /><br>
Speed:<input type="text" id="speed" /><br>
Battery:<input type="text" id="battery" /><br>
Communication:<input type="text" id="communication" /><br>
Drivingmode:<input type="text" id="drivingmode" /><br>
<input type="button" value="저장" onclick="input()" /><br><br>
{% endblock %}


