{% extends './common/base.html' %}

{% load staticfiles %}

{% block head %}
<link href="{% static 'css/detail.css'%}" rel="stylesheet">
<script src="{% static 'js/for_detail.js' %}"></script>
{% endblock %}

<!-- not user redirect -->
{% include './common/user_auth.html' %}

<!-- Nav -->
{% block nav %}
    {% include './common/nav.html' %}
{% endblock %}

<!-- Sidebar -->
{% block contents %}
<div id="wrapper" class="toggled">  

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <div id="detail-side1">
            <!-- 경로 찾을때 input-->
			<h1>출발좌표 >> 도착좌표</h1>
			도착시간:<span id="car_arrive_time"></span><br>
			<div class="row distance-box">	
				<div class="distance">
					<div class="distance-car"></div>
					<div class="distance-full"></div>
				</div>			
			</div>
            거리:<span id="car_destination_distance"></span>[0/0]<br>
            
        </div>
        <div id="detail-side2">
            영상정보:<span id="picture"></span><br>
        </div>
        <div id="detail-side3">
            <div class="container">
                <div class="row">
                    <div class="col-5">
                        <div class="cercle-l car-now">
							<i class="fas fa-arrow-up"></i>
                            <span id="car_now_situation"></span>
                        </div>
                    </div>
                    <div class="col-5">
                        <div class="cercle-l">
                            <span id="car_speed"></span>
                            <span>KM/H</span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="row">
                            <div class="cercle-s">
								<span id="battery"></span>
								<i class="fas fa-battery-empty"></i>
								<i class="fas fa-battery-quarter"></i>
								<i class="fas fa-battery-half"></i>
								<i class="fas fa-battery-three-quarters"></i>
								<i class="fas fa-battery-full"></i>
                            </div>
                        </div>
                        <div class="row">
                            <div class="cercle-s">
								<span id="communication"></span>
								<i class="fas fa-signal"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-12" id="con-box">
                        <div id="car-container">
                            <span id="container_id"></span>
                            Click-me
                        </div>
                    </div>
                    <div class=" col-12" id="car-box">
						<div class="cardetail">
							<div class="wheel left"></div>
							<div class="wheel right"></div>
						</div>
                        <div id="detail-car">
                            <span value="{{ carNumber }}">{{ carNumber }}번차량</span>
                            <span id="pi_id"></span>
                            <span id="car_type"></span>
                            Click-me
                        </div>
                    </div>

                    <div class="info-wrapper" id="con-info">
						<div class="row">
							<p>화물정보</p>
							<button class="info-close-btn" id="con-info-close"><i class="fas fa-times"></i></button>
						</div>
                        <div class="row">
							<h1>컨테이너 코드</h1>
							<!-- 컨테이너 제조사 -->
							<h2>[<span id="container_company"></span>]</h2>
							<!-- 컨테이너 제품 -->
							<h2><span id="container_product"></span></h2>

							<p>운반정보</p>
							<div class="con-info-info">
								<!-- 출발항구 도착항구 -->
								<h1>출발좌표 >> 도착좌표</h1>
								<!-- 컨테이너 출하일  -->
								<span id="container_shipment_day"></span>
							</div>
						</div>
                        <!-- 컨테이너 등록때 input-->
                        <!-- exam -->
                        Container-id:<input type="text" id="container_id" />
                        <button onclick="container()">컨테이너등록</button>
                    </div>

                    <div class="info-wrapper" id="car-info">
						<div class="row">
							<p>차량정보</p>
							<button class="info-close-btn" id="car-info-close"><i class="fas fa-times"></i></button>
						</div>
						<div class="row">
							<h1 class="mb-3">carname</h1>
							<h2>[cartype]</h2>
						</div>
                        <div class="row colorblue m-auto">
							<div class="col-5">
								<div class="container">
									<div class="row">
										<div class="col-6">
											<div class="cercle-s">
											배터리
											</div>
										</div>
										<div class="col-6 car-info-text">
											80%
										</div>
									</div>
									<div class="row">
										<div class="col-6">
											<div class="cercle-s">
											신호
											</div>
										</div>
										<div class="col-6 car-info-text">
											양호
										</div>
									</div>
								</div>
							</div>
							<div class="col-2">
								<div class="car-info-car">car</div>
							</div>
							<div class="col-5">
								<div class="container">
									<div class="row">
										<div class="col-6 car-info-text">
											설정
										</div>
										<div class="col-6 p-0">
											<div class="cercle-s">
												설정
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-6 car-info-text">
											조작
										</div>
										<div class="col-6 p-0">
											<div class="cercle-s">
												조작
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<p><span class='colorblue'>속도</span> KM/H</p>
                        <button onclick="moving()">무빙</button>
                    </div>
                </div>

                <script>
                $(document).ready(function(){
                    // con
                    $('#con-box').on('click', function(){ 
                        $('#con-info').fadeIn("fast");
                    });
                    $('#con-info-close').on('click', function(){
                        $('#con-info').fadeOut("fast");
                    });
                    //car
                    $('#car-box').on('click', function(){
                        $('#car-info').fadeIn("fast");
                    });
                    $('#car-info-close').on('click', function(){
                        $('#car-info').fadeOut("fast");
                    });
                });
                </script>
                
                </div>
            </div>
        </div>
   

    <!-- Page Content -->
    <div id="page-content-wrapper"> 
        <input type="hidden" id="car_number" value="{{ carNumber }}">
		<div id="map"></div>
		<!-- <div id="map-kakao"></div> -->
		
        <div class="control-wrapper">
			<!-- 수동조작 틀-->
			<div id="control">
				<button class="mode-btn" id="right" onclick="right()"><i class="fas fa-caret-right"></i></button>
				<button class="mode-btn" id="left" onclick="left()"><i class="fas fa-caret-left"></i></button>
				<button class="mode-btn" id="straight" onclick="straight()"><i class="fas fa-sort-up"></i></button>
				<button class="mode-btn" id="back" onclick="back()"><i class="fas fa-sort-down"></i></button>
			</div>
            <button id="mode" onclick="mode()">자동모드</button><br>
        </div>
    </div>   

</div>

<script>
$(document).ready(function(){
    // $("#control").fadeOut("fast")
    var index = $("#car_number").val()
    route(index)
})
function mode(){
    if($("#mode").text()=='자동모드'){
		$(".mode-btn").fadeIn("fast")
		$(".mode-btn").css({'display' : 'flex'})
        $("#mode").text('')
		$("#mode").text('수동모드')
		$('#mode').css({'background-color': 'rgba(33, 150, 243, 0.9)'})	
        return 0
    }
    if($("#mode").text()=='수동모드'){
		$(".mode-btn").fadeOut("fast")
        $("#mode").text('')
		$("#mode").text('자동모드')
		$('#mode').css({'background-color' : 'rgba(14, 172, 106, 0.9)'})
        return 0
    }
}
    var filtered_json = new Array();
    $.ajax({
                 url : "http://127.0.0.1:8000/api/CarInfo/?format=json",
                 dataType : 'json',
                 success : function (data) {
                    var my_json = JSON.stringify(data)
                    filtered_json = find_in_object(JSON.parse(my_json), {id: {{ carNumber }} });
                    var pi_id = filtered_json[0].pi_id;
                    var container_id = filtered_json[0].container_id;
                    var car_name = filtered_json[0].car_name;
                    var car_speed = filtered_json[0].car_speed;
                    var car_arrived_time = filtered_json[0].car_arrived_time;
                    var car_destination_distance = filtered_json[0].car_destination_distance;
                    var car_now_situation = filtered_json[0].car_now_situation;
                    var car_speed = filtered_json[0].car_speed;

                    if(car_speed != null){
                        var car_arrive_time = filtered_json[0].car_arrive_time;
                        var car_now_situation = filtered_json[0].car_now_situation;
                        var car_destination_distance = filtered_json[0].car_destination_distance;
                        $("#car_speed").text(car_speed);
                        $("#car_arrive_time").text(car_arrive_time);
                        $("#car_now_situation").text(car_now_situation);
                        $("#car_destination_distance").text(car_destination_distance);
                    }

                    $("#pi_id").text(pi_id).val(pi_id);
                    $("#container_id").text(container_id).val(container_id);
                    $("#car_name").text(car_name);
                    $("#car_speed").text(car_speed);
                    $("#car_arrived_time").text(car_arrived_time);
                    $("#car_destination_distance").text(car_destination_distance);
                    $("#car_now_situation").text(car_now_situation);
                 }
      });
    sleep(30)
    $.ajax({
                 url : "http://127.0.0.1:8000/api/PiInfo/?format=json",
                 dataType : 'json',
                 success : function (data) {

                    var my_json = JSON.stringify(data)
                    var va = document.getElementById("pi_id").value;
                    filtered_json = find_in_object(JSON.parse(my_json), {pi_id: va});
                    var battery = filtered_json[0].battery;
                    var communication = filtered_json[0].communication;
                    var car_type = filtered_json[0].car_type;
                    var picture = filtered_json[0].picture;

                    $("#battery").text(battery);
                    $("#communication").text(communication);
                    $("#car_type").text(car_type);
                    $("#picture").text(picture);
                 }
    });
    sleep(30)
    $.ajax({
                 url : "http://127.0.0.1:8000/api/ContainerInfo/?format=json",
                 dataType : 'json',
                 success : function (data) {

                    var my_json = JSON.stringify(data)
                    var co = document.getElementById("container_id").value;
                    filtered_json = find_in_object(JSON.parse(my_json), {container_id: co});
                    if(filtered_json.length != 0){
                        var container_company = filtered_json[0].container_company;
                        var container_product = filtered_json[0].container_product;
                        var container_shipment_day = filtered_json[0].container_shipment_day;

                        $("#container_company").text(container_company);
                        $("#container_product").text(container_product);
                        $("#container_shipment_day").text(container_shipment_day);
                    }

                 }
    });
function find_in_object(my_object, my_criteria){
  return my_object.filter(function(obj) {
    return Object.keys(my_criteria).every(function(c) {
      return obj[c] == my_criteria[c];
    });
  });
}

function route(clicked_car){
    var car_route
    var count
    var car_route1 = new Array()
    var car_route2 = new Array()
         $.ajax({
                 url : "http://127.0.0.1:8000/api/CarInfo/?format=json",
                 dataType : 'json',
                 success : function (data) {
                    map(data[clicked_car-1].car_route, data[clicked_car-1].now_x, data[clicked_car-1].now_y,
                    data[clicked_car-1].target_x, data[clicked_car-1].target_y, )
                 }
         });
}
function map(route, x, y, a, b){
    var car_route1 = new Array()
    var car_route2 = new Array()
    car_route = route
    now_x = Number(x)
    now_y = Number(y)
    target_x = Number(a)
    target_y = Number(b)
    var index = $("#car_number").val()
    car_route1 = car_route.split(']')
    count = car_route1.length - 2
    for(var i = 0; i<=count; i++){
          car_route2[i] = new Array()
    }
    for(var i = 0; i<= count; i++){
          car_route2[i] = car_route1[i].split('a')
    }
    for(var x = 0; x <= count; x++)
          for(var y = 0; y <= 1; y++){
               car_route2[x][y] = Number(car_route2[x][y])
    }
    var map_display;
    var map_array = new Array();
    var map_array2 = new Array();
    for(var i=0;i<=13;i++){
        map_array2[i] = new Array();
    }
     $.ajax({
                 url : "http://127.0.0.1:8000/api/MapInfo/?format=json",
                 dataType : 'json',
                 success : function(data){
                     map_display=data[1].map;
                     map_array=map_display.split('s');
                     for(var i=0; i<=13; i++){
                       map_array2[i]=map_array[i].split(', ');
                     }
                     if( now_x != ''){
                            map_array2[now_x][now_y]="3"
                     }
                     if(car_route == ''){
                        if( target_x !=''){
                            map_array2[target_x][target_y]="5"
                        }
                     }
    try{
        while(1){
            if(car_route2[idx][0] == car_route2[idx + 1][0]){
                if(car_route2[idx][1] + 1 == car_route2[idx + 1][1]){
                    map_array2[car_route2[idx][0]][car_route2l[idx][1]] = '41'
                    idx += 1
                }
                else if(car_route2[idx][1] - 1 == car_route2[idx + 1][1]){
                    map_array2[car_route2[idx][0]][car_route2[idx][1]] = '41'
                    idx += 1
                }
            }
            if(car_route2[idx][1] == car_route2[idx + 1][1]){
                if(car_route2[idx][0] + 1 == car_route2[idx + 1][0]){
                    map_array2[car_route2[idx][0]][car_route2[idx][1]] = '42'
                    idx += 1
                }
                else if(car_route2[idx][0] - 1 == car_route2l[idx + 1][0]){
                    map_array2[car_route2l[idx][0]][car_route2l[idx][1]] = '42'
                    idx += 1
                }
            }
            if(car_route2[idx][0] + 1 == car_route2[idx + 2][0]){
                if(car_route2[idx][1] + 1 == car_route2l[idx + 2][1]){
                    if(car_route2[idx][0] == car_route2[idx + 1][0]){
                        map_array2[car_route2[idx][0]][car_route2[idx][1]] = '41'
                        map_array2[car_route2[idx + 1][0]][car_route2[idx + 1][1]] = '43'
                        map_array2[car_route2[idx + 2][0]][car_route2[idx + 2][1]] = '42'
                        idx += 3
                    }
                    else if(car_route2l[idx][1] == car_route2l[idx + 1][1]){
                        map_array2[car_route2[idx][0]][car_route2[idx][1]] = '42'
                        map_array2[car_route2l[idx + 1][0]][car_route2[idx + 1][1]] = '44'
                        map_array2[car_route2[idx + 2][0]][car_route2l[idx + 2][1]] = '41'
                        idx += 3
                    }
                }
            }
            if(car_route2[idx][0] - 1 == car_route2[idx + 2][0]){
                if(car_route2[idx][1] + 1 == car_route2[idx + 2][1]){
                    if(car_route2[idx][1] == car_route2[idx + 1][1]){
                        map_array2[car_route2[idx][0]][car_route2[idx][1]] = '42'
                        map_array2[car_route2[idx + 1][0]][car_route2[idx + 1][1]] = '45'
                        map_array2[car_route2[idx + 2][0]][car_route2[idx + 2][1]] = '41'
                        idx += 3
                    }
                    else if(car_route2l[idx][0] == car_route2[idx + 1][0]){
                        map_array2[car_route2[idx][0]][car_route2[idx][1]] = '41'
                        map_array2[car_route2[idx + 1][0]][car_route2[idx + 1][1]] = '46'
                        map_array2[car_route2[idx + 2][0]][car_route2[idx + 2][1]] = '42'
                        idx += 3
                    }
                }
            }
            if(car_route2[idx][0] - 1 == car_route2[idx + 2][0]){
                if(car_route2[idx][1] - 1 == car_route2[idx + 2][1]){
                    if(car_route2[idx][1] == car_route2[idx + 1][1]){
                        map_array2[car_route2[idx][0]][car_route2[idx][1]] = '42'
                        map_array2[car_route2[idx + 1][0]][car_route2[idx + 1][1]] = '43'
                        map_array2[car_route2[idx + 2][0]][car_route2[idx + 2][1]] = '41'
                        idx += 3
                    }
                    else if(car_route2[idx][0] == car_route2[idx + 1][0]){
                        map_array2[car_route2[idx][0]][car_route2[idx][1]] = '41'
                        map_array2[car_route2[idx + 1][0]][car_route2[idx + 1][1]] = '44'
                        map_array2[car_route2[idx + 2][0]][car_route2[idx + 2][1]] = '42'
                        idx += 3
                    }
                }
            }
            if(car_route2[idx][0] + 1 == car_route2[idx + 2][0]){
                if(car_route2[idx][1] - 1 == car_route2[idx + 2][1]){
                    if(car_route2[idx][1] == car_route2[idx + 1][1]){
                        map_array2[car_route2[idx][0]][car_route2[idx][1]] = '42'
                        map_array2[car_route2[idx + 1][0]][car_route2[idx + 1][1]] = '46'
                        map_array2[car_route2[idx + 2][0]][car_route2[idx + 2][1]] = '41'
                        idx += 3
                    }
                    else if(car_route2[idx][0] == car_route2[idx + 1][0]){
                        map_array2[car_route2[idx][0]][car_route2[idx][1]] = '41'
                        map_array2[car_route2[idx + 1][0]][car_route2[idx + 1][1]] = '45'
                        map_array2[car_route2[idx + 2][0]][car_route2[idx + 2][1]] = '42'
                        idx += 3
                    }
                }
            }
        }
    } catch(e) {
    	if(e instanceof TypeError){ }
    	else if(e instanceof RangeError){ }
    	else if(e instanceof EvalError){ }
    	else { }
    }
                     for(var i=0; i<=13; i++){
                         for(var j=0; j<=13; j++){
                            if(map_array2[i][j]==0){
                                 var map_span = document.createElement("span");
                                 map_span.setAttribute("id", "route0");
                                 map_span.setAttribute("class", i+'a'+j);
                                 $("#map").append(map_span);
                            }
                            else if(map_array2[i][j]==1){
                                 var map_span = document.createElement("span");
                                 map_span.setAttribute("id", "route1");
                                 map_span.setAttribute("class", i+'a'+j);
                                 map_span.innerHTML = 'Con';
                                 $("#map").append(map_span);
                            }
                            else if(map_array2[i][j]==2){
                                 var map_span = document.createElement("span");
                                 map_span.setAttribute("id", "route2");
                                 map_span.setAttribute("class", i+'a'+j);
                                 $("#map").append(map_span);
                            }
                            else if(map_array2[i][j]==3){
                                 var map_span = document.createElement("span");
                                 map_span.setAttribute("id", "route3");
                                 map_span.setAttribute("class", i+'a'+j);
                                 $("#map").append(map_span);
                                 var map_div = document.createElement("div");
                                 map_div.setAttribute("class", "carcar"+index);
                                 map_div.innerHTML = 'Car'+index;
								 $("#route3").append(map_div);
								 
								// container 있으면
								<!--var carcon = document.createElement("div");-->
								<!--carcon.setAttribute("class", "carcon");-->
								<!--$(".carcar"+index).append(carcon);	-->


                            }
                            else if(map_array2[i][j]==5){
                                 var map_span = document.createElement("span");
                                 map_span.setAttribute("id", "route5");
                                 map_span.setAttribute("class", i+'a'+j);
                                 $("#map").append(map_span);
                            }
                            else if(map_array2[i][j]==8){
                                 $("#map").append();
                            }
                                else if(map_array2[i][j]==41){
                                    var map_span = document.createElement("span");
                                    map_span.setAttribute("id", "route41");
                                    map_span.setAttribute("class", i+'a'+j);
                                    $("#map").append(map_span);
                                }
                                else if(map_array2[i][j]==42){
                                    var map_span = document.createElement("span");
                                    map_span.setAttribute("id", "route42");
                                    map_span.setAttribute("class", i+'a'+j);
                                    $("#map").append(map_span);
                                }
                                else if(map_array2[i][j]==43){
                                    var map_span = document.createElement("span");
                                    map_span.setAttribute("id", "route41");
                                    map_span.setAttribute("class", i+'a'+j);
                                    $("#map").append(map_span);
                                }
                                else if(map_array2[i][j]==44){
                                    var map_span = document.createElement("span");
                                    map_span.setAttribute("id", "route41");
                                    map_span.setAttribute("class", i+'a'+j);
                                    $("#map").append(map_span);
                                }
                                else if(map_array2[i][j]==45){
                                    var map_span = document.createElement("span");
                                    map_span.setAttribute("id", "route41");
                                    map_span.setAttribute("class", i+'a'+j);
                                    $("#map").append(map_span);
                                }
                                else if(map_array2[i][j]==46){
                                    var map_span = document.createElement("span");
                                    map_span.setAttribute("id", "route41");
                                    map_span.setAttribute("class", i+'a'+j);
                                    $("#map").append(map_span);
                                }
                         }
                         $("#map").append("<br>");
                     }

                 }
     });
}
</script>
{% endblock %}