{% extends './common/base.html' %}

{% load staticfiles %}

<!-- html header -->
{% block head %}
<script src="{% static 'js/car_input.js' %}"></script>
<script src="{% static 'js/port_map.js' %}"></script>
<link href="{% static 'css/main.css'%}" rel="stylesheet">
{% endblock %}

<!-- not user redirect -->
{% include './common/user_auth.html' %}

<!-- Nav -->
{% block nav %}
    {% include './common/nav.html' %}
{% endblock %}


{% block contents %}
<div id="wrapper" class="toggled">  

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <div id="main-side1">
            <span id="car_count"></span>대(정렬 순)
        </div>
        <div id="main-side2">

        </div>
        <div id="main-side3">
			<div class="container">
				<p>차량정보</p>
				<!-- 차 선택을 안했을 때 네임 칸이 비어 있음, 선택된 차량 없음 이라고 네임칸에 넣어주면 좋을듯 함ㄴ -->
				<h1><span id="car_name"></span></h1>
				<p>[cartype]</p>
				<!-- number는 필요 없는 정보, 임시로 숨김 -->
				<span id="car_number" style="display: none;"></span>

				<div class="row">
					<div class="carstate">
						 
					</div>
				</div>

				<div class="row main-car-info">
					<div class="col-6">
						<div class="row">
							<div class="col-6">
								<div class="cercle-s">battery</div>
							</div>
							<div class="col-6 info-text">
								<p>100%</p>
							</div>
						</div>
					</div>
					<div class="col-6">
						<div class="row">
							<div class="col-6">
								<div class="cercle-s">data</div>
							</div>
							<div class="col-6 info-text">
								<p>양호</p>
							</div>
						</div>
					</div>
				</div>

					<input type="button" onclick="detail()" value="상세정보" />
					<button onclick="moving()">무빙</button>
					<button onclick="moving222()">출발</button>
			</div>	
		</div>
    </div>    
    <script>
        function moving222(){
        $.ajax({
            url : "http://127.0.0.1:8000/api/CarInfo/?format=json",
            dataType : 'json',
            success : function (data) {
                var aa = data[0].car_code
                console.log(aa)
        $.ajax({
            type : 'POST',
            url : 'http://192.168.0.9:8000/',
            dataType:'json',
            data : {
            'bbb': aa
            },
            success: function(){
            }
        });
            }
        });


        }
    </script>
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div id="map"></div>

        <div class="car-position-control-box">
            현위치:<input type="text" id="x" size="2" />
            <input type="text" id="y" size="2" /><br>
            목적지:<input type="text" id="a" size="2" />
            <input type="text" id="b" size="2" /><br>
            <button onclick="xy_input()">위치</button>
            <button onclick="xy_reset()">초</button>
            <button id="path_search" onclick="search()">경로</button>
        </div>
    </div>

</div>
  <!-- Car_input Modal -->
  {% include './car_input.html' %}

{% endblock %}
