{% extends './common/base.html' %}

{% load staticfiles %}

<!-- html header -->
{% block head %}
<script src="{% static 'js/car_input.js' %}"></script>
<script src="{% static 'js/port_map.js' %}"></script>
{% endblock %}

<!-- content -->
{% block contents %}

<!-- nav -->
{% include './common/nav.html' %}
<div id="wrapper" class="toggled">
  <!-- not user redirect -->
  {% if user.is_authenticated %}
  {% else %}
      <script>
      window.location.href =  "{% url 'auth' %}";
      </script>
  {% endif %}
      
  <!-- Sidebar -->
  <div id="sidebar-wrapper">

      <div id="main-side1">
          <span id="car_count"></span>대(정렬 순)
      </div>
      <div id="main-side2">

      </div>
      <div id="main-side3">
          carnumber:<span id="main_carnumber"></span><br>
          carname:<span id="main_carname"></span><br>
          battery:<span id="main_battery"></span><br>
          communication:<span id="main_communication"></span><br>
          <input type="button" onclick="detail()" value="상세정보" />
      </div>

  </div>
  <!-- /#sidebar-wrapper -->
          
  <!-- Page Content -->
  <div id="page-content-wrapper">


  <div id="map"></div>

  <div class="car-position-control-box">
      현위치:<input type="text" id="x" size="2" />
      <input type="text" id="y" size="2" /><br>
      목적지:<input type="text" id="a" size="2" />
      <input type="text" id="b" size="2" /><br>
      <button onclick="xy_input()">위치</button>
      <button onclick="xy_reset()">초</button>
      <button id="path_search" onclick="search()">경로</button>


  </div>
  
  <div>


  <!-- Car_input Modal -->
  {% include './car_input.html' %}

</div>
{% endblock %}
