{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Auto_drive</title>

    <!-- Bootstrap styles CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Custom styles -->
    <link href="{% static 'css/style.css'%}" rel="stylesheet">

    <!-- jquery CDN -->
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>

    <!-- scripts-->
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/port_map.js' %}"></script>
    <script src="{% static 'js/main_print.js' %}"></script>
    <script src="{% static 'js/car_information.js' %}"></script>
</head>
<body>
    <div class="container">
    {% block contents %}

    {% endblock %}
    </div>
    <footer>
        © YAHAIT 2019 all right reserved
    </footer>
</body>
    <!-- Custom scripts-->
    <script src="{% static 'js/style.js'%}"></script>
</html>