{% load staticfiles %}
<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SMART PORT</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="{% static 'css/common/bootstrap/bootstrap.css'%}" crossorigin="anonymous">
    <script src="{% static 'js/bootstrap/bootstrap_jquery.js' %}"></script>
    <script src="{% static 'js/bootstrap/bootstrap.js' %}"></script>

    <!-- fontawesome -->
    <link rel="stylesheet" href="{% static 'css/common/fontawesome/all.css'%}">
    <script src="{% static 'js/fontawesome/all.js' %}"></script>

    <!-- Custom styles -->
    <link rel="stylesheet" href="{% static 'css/common/common.css'%}">
    <link rel="stylesheet" href="{% static 'css/car.css'%}">
    <link rel="stylesheet" href="{% static 'css/map.css'%}">

    <!-- Custom scripts-->
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/main_print.js' %}"></script>
    <script src="{% static 'js/car_information.js' %}"></script>
    <script src="{% static 'js/moving.js' %}"></script>

    {% block head %}
    
    {% endblock %}

</head>
<body>
    
    <!-- Navbar -->
    {% block nav %}

    {% endblock %}

    <!-- Contents -->
    {% block contents %}

    {% endblock %}
</body>
    
    <!-- Custom scripts-->
    <script src="{% static 'js/style.js'%}"></script>
</html>