{% load staticfiles %}
<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Auto_drive</title>

    <!-- Bootstrap styles -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.css'%}" crossorigin="anonymous">

    <!-- Custom styles -->
    <link href="{% static 'css/common.css'%}" rel="stylesheet">

    <!-- scripts-->
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/main_print.js' %}"></script>
    <script src="{% static 'js/car_information.js' %}"></script>

    <!-- bootstrap -->
    <script src="{% static 'js/bootstrap_jquery.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>

    <!-- map/main css -->
    <link href="{% static 'css/main.css'%}" rel="stylesheet">
    <link href="{% static 'css/map.css'%}" rel="stylesheet">
    

    {% block head %}
    
    {% endblock %}

</head>
<body>

    {% block contents %}

    {% endblock %}

</body>
    <!-- Custom scripts-->
    <script src="{% static 'js/style.js'%}"></script>
</html>