#detail-side1 {
    flex: 2;
    background: #253247;
    padding: 15px;
    border-bottom: 1px solid #46586b;
}
#detail-side2 {
    flex: 3;
    background: #14171C;
    overflow-y: auto;
}
#detail-side3 {
    flex: 3;
    background: #273245;
    padding: 15px;
    border-top: 1px solid #46586b;
}
#detail-side3 .col-5 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
    max-width: 130px;
    max-height: 130px;
}
#detail-side3 .col-2 {
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.cercle-l {
    border-radius: 100%;
    border: 1px solid #55616f;
    width: 110px;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.cercle-s {
    border-radius: 100%;
    border: 1px solid #55616f;
    width: 50px;
    height: 50px;
    margin: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* car-now */
.car-now {
    border: 2px solid #28b5b8;
}

/* car-speed */
#car_speed {
    color: #28b5b8;
    font-size: 2rem;
}

/* car-container */
#car-container {
    border: 1px solid #925eb1;
    width: 150px;
    height: 50px;
    margin: auto;
}

/* detail-car */
#detail-car {
    border: 1px solid #28b5b8;
    background-color: #28b5b8;
    color: white;
    width: 200px;
    margin: auto;
}


.info-wrapper {
    position: absolute;
    z-index: 10;
    background: #273245;
    width: 100%;
    padding: 15px;
    border-top: 1px solid #46586b;
    left: 0;
    bottom: 0;
    height: 350px;
    display: none;
}
/* car info */
.info-show {
    display: block!important;
}

/* control */
.control-wrapper {
    padding: 25px;
    position: absolute;
    bottom: 0;
    right: 25px;
}
#control {
	display: block;
    position: relative;
    width: 130px;
    height: 130px;
    margin: 50px auto;
}
#mode {
	padding: 5px 15px;
    border-radius: 20px;
    background-color: rgba(14, 172, 106, 0.9);
    color: white;
    font-weight: 700;
	border: none;
	display: block;
	margin: 20px;
}
.mode-btn {
	padding: 0;
    width: 40px;
    height: 40px;
    font-size: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
	border-radius: 4px;
	position: absolute;
	display: none;
}
#left {
	left: 0;
	top: 35%;		
}
#right {
	right: 0;
	top: 35%;
}
#straight {
	top: 0;
	right: 35%;
}
#back {
	bottom: 0;
	right: 35%;
}