/* sidebar */

#main-side1 {
    flex: 0.5;
    background: #253247;
    padding: 15px;
    border-bottom: 1px solid #46586b;
}
#main-side2 {
    flex: 10;
    background: #14171C;
    overflow-y: auto;
}
#main-side3 {
    flex: 6;
    background: #273245;
    padding: 15px;
    border-top: 1px solid #46586b;
}
/* main-car select menu */
.cardiv {
    width: 150px;
    height: 120px;
    margin: 10px auto;
    border: 1px solid #0eac6a;
}


/* car postion */
.car-position-control-box {
    width: 200px;
    height: 150px;
    background-color: rgba(0, 0, 0, 0.65);
    padding: 25px;
    position: absolute;
    bottom: 85px;
    right: 25px;
}