#map {
	width: 950px;
	height: 950px;
	margin: auto;
	/* width:100%;
	height: 95%; */
	line-height: 0;
	border: 1px solid #4d5967;
}

/* 길 */
#route0 {
	display: inline-block;
	width: 8.333%; height: 8.333%;
	background-color: #455163;
	border: 1px solid #4d5967;
}

/* 장애물, 컨테이너 */
#route1 {
	display: inline-block;
	width: 8.333%; height: 8.333%;
	background-color: #253247;
	text-align: center;
	vertical-align: bottom;
	line-height: 2;
	border: 1px solid #55616f;
}

/* 장애물, 바다 */
#route2 {
	display: inline-block;
	width: 8.333%; height: 8.333%;
	background-color: #03a9f4;
}

/* 출발지 */
#route3 {
	display: inline-block;
	width: 8.333%; height: 8.333%;
	background-color: #455163;
	border: 2px solid #0eac6a;
	border-radius: 5px;
	text-align: center;
	vertical-align: bottom;
	line-height: 4rem;
	position: relative;
}

#route3_1 {
	display: inline-block;
	width: 8.333%; height: 8.333%;
	background-color: #455163;
	border: 2px solid #0eac6a;
	border-radius: 5px;
	text-align: center;
	vertical-align: bottom;
	line-height: 4rem;
	position: relative;
}

#route3_2 {
	display: inline-block;
	width: 8.333%; height: 8.333%;
	background-color: #455163;
	border: 2px solid #0eac6a;
	border-radius: 5px;
	text-align: center;
	vertical-align: bottom;
	line-height: 4rem;
	position: relative;
}
#route3_3 {
	display: inline-block;
	width: 8.333%; height: 8.333%;
	background-color: #455163;
	border: 2px solid #0eac6a;
	border-radius: 5px;
	text-align: center;
	vertical-align: bottom;
    line-height: 4rem;
}

#route99{
	display: inline-block;
	width: 8.333%; height: 8.333%;
	background-color: #455163;
	border: 1px solid #4d5967;
}
#route3_1{
	display: inline-block;
	width: 8.333%; height: 8.333%;
	background-color: #455163;
	border: 1px solid #4d5967;
}
#route3_2{
	display: inline-block;
	width: 8.333%; height: 8.333%;
	background-color: #455163;
	border: 1px solid #4d5967;
}
#route3_3{
	display: inline-block;
	width: 8.333%; height: 8.333%;
	background-color: #455163;
	border: 1px solid #4d5967;
}
/* 경로 */
#route41 {
	display: inline-block;
	width: 8.333%; height: 8.333%;
	border-top: 25px solid #455163;
	border-bottom: 25px solid #455163;
	background-color: #28b5b8;
	position: relative;
}
#route42 {
	display: inline-block;
	width: 8.333%; height: 8.333%;
	border-left: 25px solid #455163;
	border-right: 25px solid #455163;
	background-color: #28b5b8;
	position: relative;
}
#route43 {
	display: inline-block;
	width: 8.333%; height: 8.333%;
	border-left: 25px solid #455163;
	border-right: 25px solid #455163;
	background-color: #28b5b8;
	position: relative;
}
#route44 {
	display: inline-block;
	width: 8.333%; height: 8.333%;
	border-left: 25px solid #455163;
	border-right: 25px solid #455163;
	background-color: #28b5b8;
	position: relative;
}
#route45 {
	display: inline-block;
	width: 8.333%; height: 8.333%;
	border-left: 25px solid #455163;
	border-right: 25px solid #455163;
	background-color: #28b5b8;
	position: relative;
}
#route46 {
	display: inline-block;
	width: 8.333%; height: 8.333%;
	border-left: 25px solid #455163;
	border-right: 25px solid #455163;
	background-color: #28b5b8;
	position: relative;
}

/* 도착지 */
#route5 {
	display: inline-block;
	width:8.333%; height: 8.333%;
	background-color: #455163;
	border: 2px solid #F44336;
	border-radius: 5px;
	text-align: center;
	vertical-align: bottom;
    line-height: 4rem;
}

/* kakao-map */
#map-kakao {
	position: absolute;
	width: 100%;
	height: 100%;
	bottom: 0;
    left: 0;
}

.map-change-btn {
	position: absolute;
    right: 0;
    z-index: 10;
    top: 0;
}